<h1>Books</h1>

<%= @books.each do |books| %>


  <p>Title</p>
  <span><%= books.title %></span>

  <p>Body</p>
  <span><%= books.body %></span>

  <h2>New book</h2>
  <%= form_with model: @books do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>


<% end %>